@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.zero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}
/*
.padding-x {
  @apply sm:px-16 px-6;
} */

.hero {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 30pc;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 100pc;
  justify-content: center;
}
.hero__left {
  display: flex;
  flex-direction: column;
  color: black;
  position: relative;
  flex: 1 1 0;
  width: 50pc;

  justify-content: center;
  padding: 20px;
}

.hero__title {
  position: relative;
  font-weight: bold;
  font-size: xxx-large;
}

.hero__subtitle {
  position: relative;
  font-weight: normal;
  font-size: large;
}

.zero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}
.hero__image-container {
  position: relative;
  width: 50pc;
  overflow: hidden;
  flex: 1 1 0;
}

.card__container {
  display: flex;
  flex-direction: row;
  margin: 2px;
  height: 14pc;
  position: relative;
  max-width: 100pc;
  margin-top: 5px;
}

.card {
  display: flex;
  position: relative;
  max-width: 18pc;
  border: 1px solid black;
  height: 14pc;
  flex-direction: column;
  flex: 1 1 0;
  margin-right: 5px;
  margin-left: 5px;
}
.card__image-container {
  position: relative;
  height: 80pc;
}

.card__header {
  position: relative;
  height: 20pc;
  border: 2px solid red;
}
